.catalog {
  background-color: #ED6841;
  color: #fff;
  padding: 40px 0;
}

.catalog h2 {
  color: #fff;
  margin-bottom: 30px;
}

.catalog-card {
  background-color: #fff;
  color: #000; 
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s, box-shadow 0.3s;
}

.catalog-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.catalog-section {
  margin-bottom: 20px;
}

.price-table {
  background-color: #fff; 
  color: #000; 
  border-radius: 10px;
  font-size: 0.7rem;
}

.price-table th, .price-table td {
  text-align: center;
}

@media (max-width: 767.98px) {
  .catalog-section {
    margin-bottom: 15px;
  }
}
