.contacts {
  background-color: #000; /* Черный фон */
  color: #fff; /* Белый текст */
  padding: 60px 0; /* Отступы сверху и снизу */
}

.contacts h2 {
  color: #ff4500; /* Рыжий цвет для названия компании */
  margin: 0; /* Убираем стандартные отступы у заголовка */
  font-size: 2rem; /* Размер шрифта для заголовка */
}

.contact-info {
  margin: 0; /* Убираем стандартные отступы */
  font-size: 1.2rem; /* Размер шрифта для информации */
}
